<!DOCTYPE html>
<html lang="en-us" class="full-height">

<head>
  <title>ACE Direct - Videomail</title>

  <meta name="description" content="ACE Direct - Videomail">
  <meta name="viewport" content="width=device-width">

  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
  <link rel="stylesheet" href="/dro/css/videomail.css">
  <!-- <link rel="stylesheet" href="/css/ca-portal.css"> -->
</head>

<body class="full-height">
  <header>
    <%- include("../partials/agent_page_header") %>
  </header>
  <main>
    <div class="container ad-container">
      <div class="row" id="greetingDiv">
        <div class="row  text-center greeting-controls" id="greeting-controls">
          <div>
            <button class="circleButton" id="greetingPlayPauseBtn" tabindex="0" aria-label="Play Greeting">
              <i id="greetingPlayPauseBtnIcon" class="fa fa-play" aria-hidden="true"></i>
            </button>
          </div>

          <div><span id="greetingCurrentTime">0:00</span>/<span id="greetingDuration">0:00</span></div>
          <div id="custom-seekbar" aria-label="seek bar"><span></span></div>

          <button class="btn btn-secondary modal-outline-btn" id="skipGreetingButton" tabindex="0"
            aria-label="Skip Greeting. Recording will start in 5 seconds.">Skip Greeting&nbsp;<i
              class="fa fa-angle-double-right" aria-hidden="true"></i> </button>
        </div>
        <video class="fill-height video-element" id="greetingVideo" title="Play Video" aria-label="videomail greeting video">
          <source src="/media/<%= introVideo %>" type="video/mp4">
          <source src="/media/<%= introVideo %>" type="video/webm">
        </video>
      </div>

      <div class="row text-center" style="display:none; vertical-align: -webkit-baseline-middle;" id="countDownDiv">
        <div class="col-12 text-center align-self-center">
          <br /><br /><br /><br /><br />
          <p class="lead"><strong>Recording will start in:</strong></p>
          <span id="recordingCountdown">5</span>
        </div>
      </div>

      <div class="row" style="display:none" id="recordingDiv">
        <div class="col-12 text-center">

          <div class="row  recording-controls">
            <div class="col-md-12">
              <span class="text-danger" id="recordingTime"><i class="fa fa-circle" aria-hidden="true"></i> Recording
                &nbsp;&nbsp; 0:00 / 0:00</span>
              <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i
                  class="fa fa-microphone-slash" aria-hidden="true"></i>&nbsp;Microphone is muted
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-video-camera"
                  aria-hidden="true"></i>&nbsp;Video is
                ON&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
              <button class="btn btn-custom" id="sendVideomailButton" onclick="sendVideomail();"><i
                  class="fa fa-paper-plane" aria-hidden="true" style="padding-right:8px;"></i> Send Videomail</button>
            </div>
          </div>

          <div class="row recording-timer-bar" id="recording-timer-bar">
            <div class="col-12">
              <div id="recordingTimer" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                aria-live="polite"><span></span></div>
            </div>
          </div>

          <div class="video-container">
            <video autoplay="true" class="video-element self-view" id="selfVideo">
            </video>
            <div class="recordingInfoBanner">
              <span role="alert" aria-live="assertive">To send your Videomail before the 90 second time limit elapses,
                click the 'Send Videomail' button.</span>
            </div>
          </div>
        </div>
      </div>

      <span id="maxTime" hidden>
        <%= maxRecordSeconds %>
      </span>
    </div>
  </main>
  <%- include("../partials/acedirect_footer") %>

    <!-- MODALS -->
    <div id="goodbyeModal" class="modal fade" data-backdrop="static" role="dialog" aria-labelledby="goodbyeDescription">
      <div class="modal-dialog modal-dialog-csentered">
        <div class="modal-content">
          <div class="modal-body" style="position: relative;min-height:300px;">
            <div class="center text-center" style="width: 90%;">
              <i class="fa fa-check-circle fa-2x text-success" aria-hidden="true"></i>
              <br /><br />
              <p id="goodbyeDescription" style="font-size: 1.5em;">Thank you for leaving videomail. An agent will review
                your videomail
                message.</p>
              <hr class="text-black"
                style="width:50%;height:2px;background-color:black;border:none;margin-top: 50px;margin-bottom: 50px;">
              <p>You are being redirected in <b>10</b> seconds to <b id="redirectSiteURL">
                  <%= redirectURL%>
                </b></p>
            </div>
          </div>
          <div class="modal-footer">
            <div class="text-center">
              <a id="goodbyeExit" href="#" style="color:#073863;" role="button" tabindex="0"><i
                  class="fa fa-sign-out"></i> Exit Support
                Portal</a>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>

<script type="text/javascript" src="/assets/js/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap.min.js" async></script>
<!-- <script type="text/javascript" src="/assets/js/moment.min.js" async></script> -->
<script type="text/javascript" src="/dro/js/videomail.js" async></script>
<script type="text/javascript" src="/assets/js/RecordRTC.min.js" async></script>

</html>
